In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\admin\Downloads\archive (1)\Swarm_Behaviour.csv")

In [2]:
data

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.00,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.00,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.30,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.00,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.00,12,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23304,-225.85,128.99,12.19,-7.56,-1.00,0.00,0.0,0.0,0.00,0.00,...,-5.06,-1.00,-1.00,-3.99,0.21,0.00,0.00,17,1,0.0
23305,-1352.02,-233.03,-0.86,-4.37,-0.07,-0.55,0.0,0.0,0.28,0.02,...,-12.41,-0.15,-0.70,0.00,0.00,0.02,0.07,69,1,0.0
23306,-1360.61,-778.11,-2.89,-1.17,0.00,0.00,0.0,0.0,0.00,0.00,...,-14.78,0.00,0.00,0.00,0.00,0.00,0.00,20,1,0.0
23307,987.11,615.69,-5.61,-2.92,-1.00,-1.00,0.0,0.0,0.00,0.00,...,9.78,-1.00,-1.00,0.00,0.00,0.00,0.00,29,0,0.0
23308,938.12,-924.87,11.18,2.85,0.10,-0.02,0.0,0.0,0.06,0.31,...,-2.90,-0.13,-0.29,1.31,0.38,0.00,0.00,2,1,0.0

In [3]:
data.isnull().any().sum()

0

In [4]:
objcol=data.select_dtypes(include='object')
objcol

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[23309 rows x 0 columns]

In [5]:
data['Swarm_Behaviour'].head(20)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    1.0
11    1.0
12    1.0
13    0.0
14    1.0
15    0.0
16    0.0
17    1.0
18    0.0
19    0.0
Name: Swarm_Behaviour, dtype: float64

In [6]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
y

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
23304    0.0
23305    0.0
23306    0.0
23307    0.0
23308    0.0
Name: Swarm_Behaviour, Length: 23309, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

# LOGISTIC REGRESSION

In [8]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
y_pred=log_reg.predict(x_test)
y_pred

array([1., 0., 1., ..., 1., 0., 0.])

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test,y_pred)

array([[3600,  244],
       [ 364, 1620]], dtype=int64)

In [11]:
accuracy_score(y_test,y_pred)

0.8956760466712422

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.91      0.94      0.92      3844
         1.0       0.87      0.82      0.84      1984

    accuracy                           0.90      5828
   macro avg       0.89      0.88      0.88      5828
weighted avg       0.89      0.90      0.89      5828

# KNN

In [13]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=3,metric="euclidean")
model.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [14]:
y_pred=model.predict(x_test)
y_pred

array([1., 0., 1., ..., 1., 0., 0.])

In [15]:
accuracy_score(y_test,y_pred)

0.883321894303363

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.91      0.92      0.91      3844
         1.0       0.84      0.82      0.83      1984

    accuracy                           0.88      5828
   macro avg       0.87      0.87      0.87      5828
weighted avg       0.88      0.88      0.88      5828

# NAIVE BAYES CLASSIFIER

In [17]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

In [18]:
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [19]:
classifier.predict_log_proba(x_test)

array([[-1009.44660554,     0.        ],
       [ -456.45611545,     0.        ],
       [ -839.38499821,     0.        ],
       ...,
       [ -946.64029241,     0.        ],
       [ -559.89469266,     0.        ],
       [ -731.19501801,     0.        ]])

In [20]:
from sklearn.metrics import accuracy_score, confusion_matrix

print(confusion_matrix(y_test,y_pred))
print('accuracy:',accuracy_score(y_test,y_pred))

[[ 727 3117]
 [  98 1886]]
accuracy: 0.4483527796842828

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.88      0.19      0.31      3844
         1.0       0.38      0.95      0.54      1984

    accuracy                           0.45      5828
   macro avg       0.63      0.57      0.43      5828
weighted avg       0.71      0.45      0.39      5828

## ACCURACIES:

LOGISTIC REGRESSION: 0.8956760466712422
KNN: 0.883321894303363
NAIVE BAYES CLASSIFIER: 0.4483527796842828